header{
    background-color: #f0976e;
}

.navbar{
    background-color: #e45a18;
    height: 100px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

.navbar-nav{
    justify-content: center;
}

.navbar-nav a:hover{
    border-bottom: 1px solid #fff;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteudo{
    display: flex;
    background-color: #f0976e;
    flex: 1;
    align-items: center;
}

.form-row{
    display: flex;
    flex-direction: row;
}

.col{
    padding: 10px;
    margin: 10px;
}


.conteudo-desafio{
    background-color: #fff;
    flex: 1;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

.inicio{
    background-color: #fff;
    flex: 1;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
}

.texto-inicio{
    text-align: justify;
    padding: 40px;
}

.texto-inicio h1{
    font-weight: bold;
    color: #e45a18;
    font-size: 60px;
}

.button-inicio{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #e45a18;
    color: #fff;
    font-size: 15px;
    border: 0px;
    min-width: 200px;
}

.img-inicio{
    width: 400px;
    float: right;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 113, 113);
    height: 70px;
}

.rodape a{
    text-decoration: none;
}

.rodape img{
    height: 30px;
    margin: 0 10px;
}