header{
    background-color: #f0976e;
}

.navbar .container{
    justify-content: center;
}

.navbar{
    background-color: #e45a18;
    height: 100px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

.navbar-nav .nav-link{
    padding: 10px;
}

.navbar-nav{
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.navbar-nav a:hover{
    border-bottom: 1px solid #fff;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 12px;         
}
  
body::-webkit-scrollbar-track {
    background: #f0976e;   
}

body::-webkit-scrollbar-thumb {
    background-color: #e45a18;   
    border-radius: 20px;
    border: 3px solid #f0976e;
}

.conteudo{
    display: flex;
    background-color: #f0976e;
    flex: 1;
    align-items: center;
}

.form-row{
    display: flex;
    flex-direction: row;
}

.col{
    padding: 10px;
    margin: 10px;
}

.conteudo-desafio{
    background-color: #fff;
    flex: 1;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

.inicio{
    background-color: #fff;
    flex: 1;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.texto-inicio{
    text-align: justify;
    padding: 40px;
}

.texto-inicio h1{
    font-weight: bold;
    color: #e45a18;
    font-size: 60px;
}

.button-inicio{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #e45a18;
    color: #fff;
    font-size: 15px;
    border: 0px;
    min-width: 200px;
}

.button-submit{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #e45a18;
    color: #fff;
    font-size: 15px;
    border: 0px;
    min-width: 100%;
}

.img-inicio{
    width: 400px;
    float: right;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 113, 113);
    height: 70px;
}

.rodape a{
    text-decoration: none;
}

.rodape img{
    height: 30px;
    margin: 0 10px;
}

.conteudo-perguntas img{
    width: 200px;
}

.conteudo-perguntas h4{
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #666666;
    font-size: 20px;
}

.titulo3{
    color: #e45a18;
    font-weight: bold;
    font-size: 35px;
    padding: 20px 20px 20px 0;
}

.p1{
    font-size: 20px;
}

.p2-respostas{
    padding-left: 15px;
    font-size: 20px;
    color: #666666;
}

.p3 .img-pergunta{
    padding: 20px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 993px) {
    .imagem {
       display: none;
    }

    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.5em;
    }

    .inicio{
        padding: 0px;
        margin: 20 0 0 0px;
    }
}